<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twordle-Dee</title>

    <link rel="stylesheet" href="/cdn/stylesheets/bootstrap.css">
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <style>
        .card-custom {
            background-color: black;
        }
    </style>
</head>


<body>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Welcome to Twordle-dee!</h1>
        <h3>Create a new account </h3>
    </div>

    <section class="p-5">
        <div class="div container text-center">
            <p>
                <!-- <a href="https://www.youtube.com/watch?v=lv4Zg-209MY">it over here</a> -->

            <div class="input-group mb-3">
                <input id="username" type="text" class="form-control" placeholder="Enter your username" autofocus>
            </div>


            <div class="input-group mb-3">
                <!--     -->
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>


            <!--  <div class="input-group mb-3">
                <input id="password" type="text" class="form-control" placeholder="Enter your password" autofocus>
            </div> -->
            <div class="input-group mb-3">
                <input id="passwordConfirm" type="password" class="form-control" placeholder="Confirm your password"
                    autofocus>
            </div>


            <div class="input-group mb-3">
                <input id="email" type="text" class="form-control" placeholder="Enter your email" autofocus>
                <!--  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>




            <div class="input-group mb-3">
                <input id="phone number" type="text" class="form-control" placeholder="Enter your phone number"
                    autofocus>
            </div>
            <div class="input-group mb-3">
                <input id="4" type="text" class="form-control" placeholder="Enter your date of birth" autofocus>
            </div>
            <div class="input-group mb-3">
                <input id="3" type="text" class="form-control" placeholder="Enter your ID no." autofocus>
            </div>
            <div class="input-group mb-3">
                <input id="3" type="text" class="form-control" placeholder="Enter your mothers maiden name    "
                    autofocus>
            </div>
            <div class="input-group mb-3">
                <input id="2" type="text" class="form-control" placeholder="Enter the name of your first pet" autofocus>
            </div>
            <div class="input-group mb-3">
                <input id="1" type="text" class="form-control" placeholder="Enterthe name of your Grade 1 teachers"
                    autofocus>
            </div>

        </div>
        <div class="container text-center" id="name button">
            <button class="btn btn-primary" role="button" onclick="createAcc()" id="Log in">Create your account</button>
            <div class="div container text-center" id="rememberUser"></div>
        </div>
        </p>
        </div>
    </section>


    <!--   Game Modes 
    <section class="p-10">
        <div class="container">
            <div class="row text-center">
                <div class="col-md text-center">
                    <div class="card-custom text-light" style=" height: 18rem;">
                        <section class="py-5">
                            <div class="card-body text-center">
                                <div class="h1"><i class="bi bi-person"></i></div>
                                <h4 class="card-title">
                                    Single Player
                                </h4>
                                <p class="card-text">Click the button to play single player wordle</p>
                                <div class="container text-center">
                                    <a href="game" class="btn btn-primary" role="button">Launch Game!</a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card-custom text-light" style=" height: 18rem;">
                        <section class="py-5">
                            <div class="card-body text-center">
                                <div class="h1"><i class="bi bi-people"></i></div>
                                <h4 class="card-title">
                                    Multiplayer
                                </h4>
                                <p class="card-text">Click the button to create or join a game</p>
                                <div class="row text-center">
                                    <div class="col-4 text-center offset-2">
                                        <button onclick="generateCode()" type="button" class="btn btn-primary px-6">
                                            Generate Code <div id="generate-code-spinner" hidden="true"
                                                class="spinner-border spinner-border-sm"></div>
                                        </button>
                                    </div>
                                    <div class="col-4 text-center">
                                        <button type="button" class="btn btn-primary px-4" data-bs-toggle="modal"
                                            data-bs-target="#Loader">
                                            Enter Code
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section> -->


    <!-- Modal -->
    <div class="modal fade" id="Generator" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Share this code with your friend</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                            class="bi bi-x"></i></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info" id="game-code">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button onclick="joinGame()" class="btn btn-primary" role="button">Join Game</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="Loader" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enter code to join game</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                            class="bi bi-x"></i></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="game-code-enter" placeholder="Enter Code">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <div class="input-group-append">
                        <button onclick="joinGameWithCode()" class="btn btn-primary" role="button">Join Game</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        // data-bs-toggle="modal" data-bs-target="#Generator"
        let gameCode = ''

        const joinGame = () => {
            window.location.href = 'game?code=' + gameCode
        }

        const joinGameWithCode = () => {
            window.location.href = 'game?code=' + document.getElementById('game-code-enter').value
        }

        const generateCode = async () => {
            document.getElementById('generate-code-spinner').removeAttribute('hidden')
            let headers = new Headers()
            let requestOptions = {
                method: 'GET',
                headers: headers,
                redirect: 'follow'
            };
            fetch("api/multiplayer", requestOptions)
                .then(res => res.json())
                .then(data => {
                    gameCode = data.game
                    document.getElementById('game-code').innerHTML = gameCode
                    $('#Generator').modal('show')
                    document.getElementById('generate-code-spinner').setAttribute('hidden', true)
                })
        }


        let createAcc = async () => {
            let username = document.getElementById('username').value
            let password = document.getElementById('password').value
            let passwordConfirm = document.getElementById('passwordConfirm').value
            let email = document.getElementById('email').value
            let phone = document.getElementById('phone number').value
            console.log(username)
            console.log(password)
            console.log(passwordConfirm)
            console.log(email)
            console.log(phone)
            let valid = true

            if (password === passwordConfirm) {
valid = true
            }
            else {
                alert('Your passwords do not match, please confirm your passwords again')
                valid = false
            }
            let at = email.includes("@");
            if ( at === false)
            {
                alert('Please enter a valid email')
                valid = false
            }




            /*   let headers = new Headers();
              headers.append("Content-Type", "application/json");
              let raw = JSON.stringify({
                  "username": name
              });
              let requestOptions = {
                  method: 'POST',
                  headers: headers,
                  body: raw,
                  redirect: 'follow'
              };
              fetch('api/user', requestOptions)
                  .then(function (response) {
                      if (response.ok) { return response.json() } // Return the response parse as JSON
                      else { throw 'Failed to load correct word: response code invalid!' }
                  })
                  .then(function (data) {
                      console.log(data)
  
                      if (data.status === 1) {
                          //console.log('Welcome back ')
                          document.getElementById("rememberUser").innerHTML =
                              "Welcome back " + data.usernamee;
                      }
                      else {
                          //console.log('Welcome  newcomer ')
                          document.getElementById("rememberUser").innerHTML =
                              "Welcome newcomer " + data.username;
                      }
                  }
                  )
                  .catch(function (error) {
                      console.log(error)
                  }) */


        }
    </script>

</body>

</html>