<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twordle-Dee</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/cdn/stylesheets/bootstrap.css">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>


    <style>
        .letter-block {
            width: min(15vw, 100px);
            height: min(15vw, 100px);
            display: inline-block;
        }

        .bg-green {
            background-color: rgb(31, 105, 31);
            color: white;

        }

        .bg-gray {
            background-color: rgb(55, 55, 55);
            color: white;

        }

        .bg-yellow {
            background-color: rgb(207, 207, 55);
            color: white;
        }

        .timer {
            color: #ffffff;
            background-color: #333;
            font-size: 36px;
            /* padding: 10px 20px; */
            text-shadow: 0 1px 0 white;
            /* //border-radius: 10%; */
        }
        .pausebutton {
            color: #ffffff;
            background-color: #335;
            font-size: 36px;
            /* padding: 10px 20px; */
            text-shadow: 0 1px 0 white;
            /* //border-radius: 10%; */
        }
    </style>
</head>

<body>

    <div class="border text-center container-fluid" id="guess-holder">
    </div>


    <div>
        <p id="response"></p>
        <div class="input-group mb-3">
            <input id="guess" type="text" class="form-control" placeholder="Guess" autofocus>
            <div class="input-group-append" id="Guess Button Location">
                <button class="btn btn-outline-secondary" type="button" onclick="makeGuess()"
                    id="submit Guess">Guess</button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Game Over</h5>
                </div>
                <div class="modal-body" id="Game Result">
                    ...
                </div>
                <div class="modal-footer">
                    <a href="game" class="btn btn-primary" role="button">Play Another Game</a>
                    <a href="/" class="btn btn-primary" role="button">Home</a>
                </div>
            </div>
        </div>
    </div>



    <script>

        let sendGuess = async (guess) => {
            let headers = new Headers();
            headers.append("Content-Type", "application/json");

            let raw = JSON.stringify({
                "guess": guess
            });

            let requestOptions = {
                method: 'POST',
                headers: headers,
                body: raw,
                redirect: 'follow'
            };



            const response = await fetch("api/guess", requestOptions)
            console.log("logging json response", response)
            return response.json()


        }

        let i = 0

        let makeGuess = () => {
            let guess = document.getElementById('guess').value
            let message = document.getElementById('response')
            sendGuess(guess)
                .then(data => {
                    message.classList.remove('text-danger')
                    message.innerHTML = ''
                    generateColouredGuess(guess, data.colour)
                    console.log(guess)
                    console.log(data.colour)
                    // updateKeyboardColour(guess, data.colour) // this has to come after we generate the colour guesses
                    updateKeyboardCcolour(guess, data.colour)
                    let f = 0

                    data.colour.forEach(function (element) {
                        if (element != 'green') f = 1
                    })

                    if (f === 0) {
                        gameEnd(2)
                    }

                    i += 1
                    if(i === 6) {const y = document.getElementById('submit Guess'); y.click()}
                })
                .catch(error => {
                    message.classList.add('text-danger')
                    message.innerHTML = "Invalid Input"
                    const y = document.getElementById('submit Guess')
                    if (y.innerHTML === 'complete' || i === 6) {message.innerHTML = ''}
                })


                if(i == 4) {
                    gameEnd(1)
                }

        }

           let gameEnd = function(i) {
            if (i === 1) {   //When player runs out of guesses
                fetch('/api/correct')
                    .then(function (response) {
                        if (response.ok) { return response.json() } // Return the response parse as JSON
                        else { throw 'Failed to load correct word: response code invalid!' }
                    })

                    .then(function(data){
                        const x = document.getElementById('Game Result')
                        x.innerHTML = `The correct word was ${data}`
                    })

                    .catch(function (e) { // Process error for request
                        alert(e) // Displays a browser alert with the error message.
                    })
                        
                const y = document.getElementById('submit Guess')
                y.setAttribute('class', 'btn btn-primary')
                y.setAttribute('data-bs-toggle', 'modal')
                y.setAttribute('data-bs-target', '#staticBackdrop')
                y.innerHTML = 'Last Guess'

            }

            if (i === 2) {   //When player guesses word correctly
                const x = document.getElementById('Game Result')
                x.innerHTML = `You Guessed the word correctly`
                const y = document.getElementById('submit Guess')
                y.setAttribute('class', 'btn btn-primary')
                y.setAttribute('data-bs-toggle', 'modal')
                y.setAttribute('data-bs-target', '#staticBackdrop')
                y.innerHTML = 'complete'
                y.click()
            }

            if (i === 3) {
                // For time limit
            }
        }
       // export {gameEnd}

        /*
        <div class="pb-1">
            <div class="card card-body  letter-block bg-green">
                <h1>C</h1>
            </div>
            <div class="card card-body letter-block bg-yellow">
                <h1>A</h1>
            </div>
            <div class="card card-body letter-block bg-gray">
                <h1>A</h1>
            </div>
            <div class="card card-body letter-block bg-gray">
                <h1>A</h1>
            </div>
            <div class="card card-body letter-block bg-gray">
                <h1>A</h1>
        </div>
        */
        let generateColouredGuess = (guess, colours) => {
            let out = document.createElement("div")
            out.classList.add(['pb-1'])

            guess = guess.toUpperCase()

            for (let i = 0; i < colours.length; i++) {
                let block = document.createElement("div")
                // console.log(out)
                block.classList.add('card', 'card-body', 'letter-block', 'bg-' + colours[i])
                let letter = document.createElement("h1")
                letter.innerHTML = guess.charAt(i)

                block.appendChild(letter)
                out.appendChild(block)
            }

            document.getElementById('guess-holder').appendChild(out)
            document.getElementById('guess').value = ''
        }

        


        window.onload = () => {
            document.getElementById('guess').addEventListener('keypress', function (event) {
                if (event.key === 'Enter') {
                    makeGuess()
                    document.getElementById('guess').focus()
                }
            })
        }



    </script>


    <div class="btn-toolbar mb-1" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" id="buttonQ" class="btn" onclick="functionToExecute('q')">q</button>
            <button type="button" id="buttonW" class="btn" onclick="functionToExecute('w')">w</button>
            <button type="button" id="buttonE" class="btn" onclick="functionToExecute('e')">e</button>
            <button type="button" id="buttonR" class="btn" onclick="functionToExecute('r')">r</button>
            <button type="button" id="buttonT" class="btn" onclick="functionToExecute('t')">t</button>
            <button type="button" id="buttonY" class="btn " onclick="functionToExecute('y')">y</button>
            <button type="button" id="buttonU" class="btn " onclick="functionToExecute('u')">u</button>
            <button type="button" id="buttonI" class="btn " onclick="functionToExecute('i')">i</button>
            <button type="button" id="buttonO" class="btn " onclick="functionToExecute('o')">o</button>
            <button type="button" id="buttonP" class="btn " onclick="functionToExecute('p')">p</button>
        </div>
    </div>


    <div class="btn-toolbar mb-1" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <button type="button" id="buttonA" class="btn" onclick="functionToExecute('a')">a</button>
            <button type="button" id="buttonS" class="btn " onclick="functionToExecute('s')">s</button>
            <button type="button" id="buttonD" class="btn " onclick="functionToExecute('d')">d</button>
            <button type="button" id="buttonF" class="btn " onclick="functionToExecute('f')">f</button>
            <button type="button" id="buttonG" class="btn" onclick="functionToExecute('g')">g</button>
            <button type="button" id="buttonH" class="btn" onclick="functionToExecute('h')">h</button>
            <button type="button" id="buttonJ" class="btn" onclick="functionToExecute('j')">j</button>
            <button type="button" id="buttonK" class="btn" onclick="functionToExecute('k')">k</button>
            <button type="button" id="buttonL" class="btn" onclick="functionToExecute('l')">l</button>
            <button type="button" class="btn" onclick="removeLetter()"> delete </button>
        </div>
    </div>

    <div class="btn-toolbar mb-1" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <button type="button" id="buttonA" class="btn" onclick="functionToExecute('z')">z</button>
            <button type="button" id="buttonX" class="btn " onclick="functionToExecute('x')">x</button>
            <button type="button" id="buttonC" class="btn " onclick="functionToExecute('c')">c</button>
            <button type="button" id="buttonV" class="btn" onclick="functionToExecute('v')">v</button>
            <button type="button" id="buttonB" class="btn " onclick="functionToExecute('b')">b</button>
            <button type="button" id="buttonN" class="btn " onclick="functionToExecute('n')">n</button>
            <button type="button" id="buttonM" class="btn" onclick="functionToExecute('m')">m</button>
            <button type="button" class="btn" onclick="makeGuess()">Enter</button>
        </div>
    </div>
  <!--  // <div class="container"> -->
        <div class="row">
            <div class="col-sm">
                <div class="timer">Time remaining: <span id="timer"></span>
                <button type="button" id="pauseTimer" class="pausebutton"onclick="pauseTimer()" >Pause</button></div>
            </div>
           
        </div>
   <!--  </div> -->
    <script src="/cdn/scripts/keyboardLogger.js"></script>
    <script src="/cdn/scripts/timer.js"></script>

    <!-- <script>
        const functionToExecute = function (letter) {
            console.log(letter)

            if (letter.length > 1) {
                console.log('error button length is too long ')
                letter = letter.substring(0, 1) // Take the first element
            }

            const message = document.getElementById('guess')

            message.value += letter

            return letter
        }
    </script> -->


</body>

</html>