<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twordle-Dee</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/cdn/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>


    <style>
        .letter-block {
            width: min(15vw, 75px);
            height: min(15vw, 75px);
            display: inline-block;
            vertical-align: middle;
        }

        .bg-green {
            background-color: #198754;
            color: white;

        }

        .btn.bg-green:hover {
            color: #fff;
            background-color: #157347;
            border-color: #146c43;
        }

        .bg-gray {
            background-color: #212529;
            color: white;

        }

        .btn.bg-gray {
            color: #fff;
            background-color: #1c1f23;
            border-color: #1a1e21;
        }

        .bg-yellow {
            background-color: #ffc107;
            color: black;
        }

        .btn.bg-yellow:hover {
            color: #000;
            background-color: #ffca2c;
            border-color: #ffc720;
        }

        .timer {
            color: #ffffff;
            background-color: #333;
            font-size: 36px;
            /* padding: 10px 20px; */
            text-shadow: 0 1px 0 white;
            /* //border-radius: 10%; */
        }

        .pausebutton {
            color: #ffffff;
            background-color: #335;
            font-size: 36px;
            /* padding: 10px 20px; */
            text-shadow: 0 1px 0 white;
            /* //border-radius: 10%; */
        }

        .hide {
            display: none;
        }

        .myDIV:hover+.hide {
            display: block;
            color: red;
        }

        #mouse_over {
            opacity: 0;
        }

        #mouse_over:hover {
            opacity: 1;
        }

        .disable-dbl-tap-zoom {
            touch-action: manipulation;
        }

        .keyboard-container {
            transform: scale(0.90);
        }

        @media screen and (min-width: 400px) {
            .keyboard-container {
                transform: scale(1);
            }
        }
    </style>
</head>

<body>

    <div class="d-flex justify-content-center mt-1">
        <div>
            <button type="button" id="pauseTimer" class="btn btn-light mt-1" onclick="pauseTimer()"><i id="clockIcon"
                    class="bi bi-clock"> </i><span id="timer"></span></button>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-1">
        <!-- Use non-break space to ensure element takes up space -->
        <p class="fw-bold" id="response">&nbsp;</p>
    </div>

    <div class="input-group">
        <input id="guess" type="hidden" class="form-control" placeholder="Guess" autofocus
            oninput="syncRow(document.getElementById('guess').value)">
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Game Over</h5>
                </div>
                <div class="modal-body" id="Game Result">
                    ...
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="viewGameLog()">
                        View Game Log <div id="game-log-spinner" hidden="true" class="spinner-border spinner-border-sm">
                        </div>
                    </button>
                    <a href="game" class="btn btn-primary" role="button">Play Another Game</a>
                    <a href="/" class="btn btn-primary" role="button">Home</a>
                    <!-- <a href="/" class="btn btn-primary" role="button" id="rematch">Rematch</a> -->
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center">
        <div class="row" id="boards">
        </div>
    </div>

    <div class="keyboard-container container-sm">

        <div class="btn-toolbar mb-1 justify-content-center" role="toolbar">
            <div class="btn-group" role="group" aria-label="First group">
                <button type="button" id="buttonQ"
                    class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom keyboard-block"
                    onclick="functionToExecute('q')">Q</button>
                <button type="button" id="buttonW" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom"
                    onclick="functionToExecute('w')">W</button>
                <button type="button" id="buttonE" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom"
                    onclick="functionToExecute('e')">E</button>
                <button type="button" id="buttonR" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom"
                    onclick="functionToExecute('r')">R</button>
                <button type="button" id="buttonT" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom"
                    onclick="functionToExecute('t')">T</button>
                <button type="button" id="buttonY" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom "
                    onclick="functionToExecute('y')">Y</button>
                <button type="button" id="buttonU" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom "
                    onclick="functionToExecute('u')">U</button>
                <!-- px-3 adds padding to 'i' character as it is thin -->
                <button type="button" id="buttonI" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom px-3"
                    onclick="functionToExecute('i')">I</button>
                <button type="button" id="buttonO" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom "
                    onclick="functionToExecute('o')">O</button>
                <button type="button" id="buttonP" class="btn btn-secondary rounded"
                    onclick="functionToExecute('p')">P</button>
            </div>
        </div>

        <div class="btn-toolbar mb-1 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
                <button type="button" id="buttonA" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom"
                    onclick="functionToExecute('a')">A</button>
                <button type="button" id="buttonS" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom"
                    onclick="functionToExecute('s')">S</button>
                <button type="button" id="buttonD" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom"
                    onclick="functionToExecute('d')">D</button>
                <button type="button" id="buttonF" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom"
                    onclick="functionToExecute('f')">F</button>
                <button type="button" id="buttonG" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom"
                    onclick="functionToExecute('g')">G</button>
                <button type="button" id="buttonH" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom"
                    onclick="functionToExecute('h')">H</button>
                <button type="button" id="buttonJ" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom"
                    onclick="functionToExecute('j')">J</button>
                <button type="button" id="buttonK" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom"
                    onclick="functionToExecute('k')">K</button>
                <button type="button" id="buttonL" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom"
                    onclick="functionToExecute('l')">L</button>

            </div>
        </div>

        <div class="btn-toolbar mb-1 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
                <button type="button" id="buttonEnter" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom"
                    onclick="makeGuess()"><i class="bi bi-arrow-return-left"></i></button>
                <button type="button" id="buttonA" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom"
                    onclick="functionToExecute('z')">Z</button>
                <button type="button" id="buttonX" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom "
                    onclick="functionToExecute('x')">X</button>
                <button type="button" id="buttonC" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom "
                    onclick="functionToExecute('c')">C</button>
                <button type="button" id="buttonV" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom"
                    onclick="functionToExecute('v')">V</button>
                <button type="button" id="buttonB" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom "
                    onclick="functionToExecute('b')">B</button>
                <button type="button" id="buttonN" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom "
                    onclick="functionToExecute('n')">N</button>
                <button type="button" id="buttonM" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom"
                    onclick="functionToExecute('m')">M</button>
                <button type="button" class="btn btn-secondary rounded me-1 disable-dbl-tap-zoom"
                    onclick="removeLetter()"><i class="bi bi-backspace"></i></button>
            </div>
        </div>
    </div>

    <script>
        let game = 0;
        let username = '';
        let gameDone = false;

        let sendGuess = async (guess) => {
            let headers = {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
            let raw = JSON.stringify({
                "guess": guess,
                "game": game,
                "i": i
            });

            let requestOptions = {
                method: 'POST',
                headers: headers,
                body: raw,
                redirect: 'follow',
            };
            const response = await fetch("api/guess", requestOptions)
            return response.json()
        }

        guesses = 0
        let i = 0
        let score = 0;

        // Define End Conditions
        const END_CORRECT_WORD = Symbol('correct')
        const END_NO_GUESSES = Symbol('no_guess')
        const END_TIME_LIMIT = Symbol('time_limit')


        let makeGuess = async () => {
            let guess = document.getElementById('guess').value
            let message = document.getElementById('response')
            await sendGuess(guess)
                .then(data => {
                    if (data.code === "ok") {
                        message.classList.remove('text-danger')
                        message.innerHTML = '&nbsp;' // to prevent height changes
                        generateColouredGuess(guess, data.colour)

                        score = score + data.score
                        updateKeyboardColour(guess, data.colour)
                        let allGreen = true
                        for (let index = 0; index < data.colour.length; index++) {
                            if (data.colour[index] != 'green') {
                                allGreen = false
                                break;
                            }
                        }

                        guesses++;
                        if (allGreen) {
                            gameEnd(END_CORRECT_WORD)
                        } else if (guesses == 6) {
                            gameEnd(END_NO_GUESSES)
                        }

                    } else {
                        message.classList.add('text-danger')
                        message.innerHTML = data.message
                    }
                })
                .catch(error => {
                    console.error(error)
                    // message.classList.add('text-danger')
                    // message.innerHTML = "Invalid Input"
                    // const y = document.getElementById('submit Guess')
                    // if (y.innerHTML === 'complete' || i === 6) { message.innerHTML = '' }
                })




        }

        let gameEnd = function (endCondition) {
            gameDone = true
            const x = document.getElementById('Game Result')

            switch (endCondition) {

                case END_NO_GUESSES: {
                    let headers = {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    }
                    let raw = JSON.stringify({
                        "game": game
                    })
                    let requestOptions = {
                        method: 'POST',
                        headers: headers,
                        body: raw,
                        redirect: 'follow'
                    }
                    fetch('api/correct', requestOptions)
                        .then(function (response) {
                            if (response.ok) { return response.json() } // Return the response parse as JSON
                            else { throw 'Failed to load correct word: response code invalid!' }
                        })
                        .then(function (data) {
                            console.log('results:', score, data.word)
                            x.innerHTML = `The correct word was ${data.word}. You achieved a score of: ` + score
                            $('#staticBackdrop').modal('show')
                        })
                        .catch(function (e) { // Process error for request
                            alert(e) // Displays a browser alert with the error message.
                        })
                    break
                }

                case END_CORRECT_WORD: {
                    x.innerHTML = 'You Guessed the word correctly. You achieved a score of: ' + score
                    $('#staticBackdrop').modal('show')

                    break
                }

                case END_TIME_LIMIT: {
                    x.innerHTML = 'You ran out of time. You achieved a score of: ' + score
                    $('#staticBackdrop').modal('show')
                    break
                }

                default:
                // nothing
            }

            if (i === 3) { // To request rematch
                function showMessage(message) {
                    let messageElem = document.getElementById('rematch');
                    messageElem.append(message);
                    elem.append(messageElem);
                }

                async function rematch() {
                    let headers = {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    }
                    let requestOptions = {
                        method: 'GET',
                        headers: headers,
                        redirect: 'follow'
                    }
                    const response = await fetch('api/rematch', requestOptions)

                    if (response.status == 502) {
                        // Status 502 is a connection timeout error,
                        // may happen when the connection was pending for too long,
                        await rematch()
                    } else if (response.status != 200) {
                        // An error occured
                        console.log(response.statusText)
                        alert(response.statusText)
                        // Reconnect in one second
                        await new Promise(resolve => setTimeout(resolve, 1000))
                        await rematch()
                    } else {
                        // Get and show whether rematch was accepted or not
                        const message = await response.text()
                        showMessage(message)
                        const y = document.getElementById('rematch')
                        y.click()
                    }
                }

                rematch()
            }

        }
        // export {gameEnd}

        let generateColouredGuess = (guess, colours) => {
            let out = document.createElement("div")
            out.classList.add(['pb-1'])

            guess = guess.toUpperCase()

            for (let character = 0; character < colours.length; character++) {
                document.getElementById('blockrow' + guesses + 'character' + character).classList.add('bg-' + colours[character], 'm-1')
                document.getElementById('row' + guesses + 'character' + character).innerHTML = guess.charAt(character)
            }

            document.getElementById('guess').value = ''
        }

        function findGetParameter(parameterName) {
            var result = null,
                tmp = [];
            window.location.search
                .substr(1)
                .split("&")
                .forEach(function (item) {
                    tmp = item.split("=");
                    if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                });
            return result;
        }

        let newGame = () => {



            const code = findGetParameter('code')
            if (code) {
                game = code
            }
            else {
                let headers = {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                }
                let requestOptions = {
                    method: 'GET',
                    headers: headers,
                    redirect: 'follow'
                }
                fetch('api/game', requestOptions)
                    .then(response => response.json())
                    .then(data => {
                        if (data.code === 'ok') {
                            game = data.game
                        }
                        else {

                            console.log('Cannot create new game')
                        }
                    })
            }



        }

        let gameIsValid = () => {
            return !gameDone
        }

        window.onload = () => {
            initBoards(1, 'boards')

            // request a new game ID 
            newGame()
        }

        let initBoards = function (count, elementToAttach) {
            for (let i = 0; i < count; i++) {
                let board = document.createElement("div")
                board.classList.add('col-xl', 'pb-2')
                board.id = 'board' + i
                for (let row = 0; row < 6; row++) {
                    let line = document.createElement("div")
                    line.classList.add(['pb-1'])
                    for (let character = 0; character < 5; character++) {
                        let block = document.createElement("div")
                        block.classList.add('card', 'card-body', 'letter-block', 'm-1')
                        let letter = document.createElement("h1")
                        letter.id = 'row' + row + 'character' + character
                        block.id = 'blockrow' + row + 'character' + character
                        let letterContainer = document.createElement("div")
                        letterContainer.classList.add('d-inline-flex', 'h-100', 'w-100', 'align-items-center', 'justify-content-center')
                        letterContainer.appendChild(letter)
                        block.appendChild(letterContainer)
                        line.appendChild(block)
                    }
                    board.appendChild(line)
                }
                document.getElementById(elementToAttach).appendChild(board)
            }
        }

        let syncRow = function (guess) {
            if (guess.length > 5) {
                guess = guess.substring(0, 5)
                document.getElementById('guess').value = guess
            }
            for (let character = 0; character < guess.length; character++) {
                document.getElementById('row' + guesses + 'character' + character).innerHTML = guess.charAt(character).toUpperCase()
            }
            for (let character = guess.length; character < 5; character++) {
                document.getElementById('row' + guesses + 'character' + character).innerHTML = ''
            }
        }

        document.onkeydown = function (e) {
            e = e || window.event;
            var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
            if (e.ctrlKey) {
                if (charCode === 8) { // ctrl backspace remove all letters
                    e.preventDefault()
                    removeLetter()
                    removeLetter()
                    removeLetter()
                    removeLetter()
                    removeLetter()
                }
            }
            else {
                if ((charCode >= 65 && charCode <= 90) || (charCode >= 97 && charCode <= 122)) {
                    functionToExecute(String.fromCharCode(charCode))
                }
                else if (charCode === 13 && gameIsValid()) { // check for Enter key
                    document.activeElement.blur() // deselect any buttons
                    makeGuess()
                }

                else if (charCode === 8 || charCode === 46) { // check for Backspace or Delete
                    removeLetter()
                }
            }
        }

        const buildMiniScoredWord = (word, colours) => {
            let out = ''
            for (let i = 0; i < word.length; i++) {
                out += `<span class="badge bg-${colours[i]}">${word.charAt(i)}</span>`
            }
            return out
        }

        const viewGameLog = () => {
            let logSpinner = document.getElementById('game-log-spinner')
            let gameResult = document.getElementById('Game Result')
            logSpinner.removeAttribute('hidden')
            let headers = {
                'Accept' : 'application/json', 
                'Content-Type' : 'application/json'
            }

            let raw = JSON.stringify({
                "game": game,
            });

            let requestOptions = {
                method: 'POST',
                headers: headers,
                body: raw,
                redirect: 'follow'
            };
            fetch("api/game/log", requestOptions)
                .then(response => response.json())
                .then(data => {
                    logSpinner.setAttribute('hidden', true)
                    if (data.code === 'ok') {

                        const uriLog = "data:text/json;charset:utf-8," +
                            encodeURIComponent(
                                JSON.stringify(data.log, null, 4)
                            )

                        let guessesRows = ''
                        const guesses = data.log.guesses
                        let prevTime = moment(data.log.start)
                        const start = moment(data.log.start)
                        const end = moment(data.log.end)
                        guesses.forEach((guess, index) => {
                            const thisTime = moment(guess.date)
                            const duration = moment.duration(thisTime.diff(prevTime)).humanize()
                            prevTime = thisTime
                            guessesRows += `
                            <tr>
                                <th scope="row">Guess ${index + 1} <span class="badge badge-pill text-bg-success">${guess.score} points</span></th>
                                <td>
                                    ${buildMiniScoredWord(guess.guess, guess.colours)}
                                    <span class="badge badge-pill badge-info text-bg-info">${duration}</span>
                                </td>
                            </tr>
                            `
                        })

                        gameResult.innerHTML = `
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th scope="row">Correct Word</th>
                                        <td>${data.log.correctWord}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Score</th>
                                        <td>${data.log.score} points</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Start</th>
                                        <td>${start.format("MMMM Do YYYY HH:mm:ss")}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">End</th>
                                        <td>${end.format("MMMM Do YYYY HH:mm:ss")}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Game Mode</th>
                                        <td>${data.log.gameMode}</td>
                                    </tr>
                                    ${guessesRows}
                                </tbody>
                            </table>
                            <a class="btn btn-outline-primary"href="${uriLog}" download="game_log_${start.format("DD_MM_YYYY_HH_mm")}.json">Download Log</a>
                        </div>
                            `
                    }
                })

        }





    </script>

    <script src="cdn/scripts/keyboardLogger.js"></script>
    <script src="cdn/scripts/timer.js"></script>
    <script src="cdn/scripts/moment.js"></script>

</body>

</html>