<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twordle-Dee</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/cdn/stylesheets/bootstrap.css">

    <style>
        .letter-block {
            width: min(15vw, 100px);
            height: min(15vw, 100px);
            display: inline-block;
        }

        .bg-green {
            background-color: rgb(31, 105, 31);
            color: white;

        }

        .bg-gray {
            background-color: rgb(55, 55, 55);
            color: white;

        }

        .bg-yellow {
            background-color: rgb(207, 207, 55);
            color: white;
        }
    </style>
</head>

<body>

    <div class="border text-center container-fluid" id="guess-holder">
    </div>


    <div>
        <p id="response"></p>
        <div class="input-group mb-3">
            <input id="guess" type="text" class="form-control" placeholder="Guess" autofocus>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="makeGuess()">Guess</button>
            </div>
        </div>
    </div>


    <script>

        let sendGuess = async (guess) => {
            let headers = new Headers();
            headers.append("Content-Type", "application/json");

            let raw = JSON.stringify({
                "guess": guess
            });

            let requestOptions = {
                method: 'POST',
                headers: headers,
                body: raw,
                redirect: 'follow'
            };



            const response = await fetch("api/guess", requestOptions)
            return response.json()
        }

        let makeGuess = () => {
            let guess = document.getElementById('guess').value
            let message = document.getElementById('response')
            sendGuess(guess)
                .then(data => {
                    message.classList.remove('text-danger')
                    message.innerHTML = ''
                    generateColouredGuess(guess, data.colour)
                    console.log(data)
                })
                .catch(error => {
                    message.classList.add('text-danger')
                    message.innerHTML = "Invalid Input"
                })

        }

        /*
        <div class="pb-1">
            <div class="card card-body  letter-block bg-green">
                <h1>C</h1>
            </div>
            <div class="card card-body letter-block bg-yellow">
                <h1>A</h1>
            </div>
            <div class="card card-body letter-block bg-gray">
                <h1>A</h1>
            </div>
            <div class="card card-body letter-block bg-gray">
                <h1>A</h1>
            </div>
            <div class="card card-body letter-block bg-gray">
                <h1>A</h1>
        </div>
        */
        let generateColouredGuess = (guess, colours) => {
            let out = document.createElement("div")
            out.classList.add(['pb-1'])

            guess = guess.toUpperCase()

            for (let i = 0; i < colours.length; i++) {
                let block = document.createElement("div")
                block.classList.add('card', 'card-body', 'letter-block', 'bg-' + colours[i])
                let letter = document.createElement("h1")
                letter.innerHTML = guess.charAt(i)

                block.appendChild(letter)
                out.appendChild(block)
            }

            document.getElementById('guess-holder').appendChild(out)
            document.getElementById('guess').value = ''
        }


        window.onload = () => {
            document.getElementById('guess').addEventListener('keypress', function (event) {
                if (event.key === 'Enter') {
                    makeGuess()
                    document.getElementById('guess').focus()
                }
            })
        }



    </script>


    <div class="btn-toolbar mb-1" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" id="buttonQ" class="btn btn-secondary" onclick="functionToExecute('q')">q</button>
            <button type="button" id="buttonW" class="btn btn-success" onclick="functionToExecute('w')">w</button>
            <button type="button" id="buttonE" class="btn btn-warning" onclick="functionToExecute('e')">e</button>
            <button type="button" id="buttonR" class="btn btn-light" onclick="functionToExecute('r')">r</button>
            <button type="button" id="buttonT" class="btn btn-secondary" onclick="functionToExecute('t')">t</button>
            <button type="button" id="buttonY" class="btn btn-secondary" onclick="functionToExecute('y')">y</button>
            <button type="button" class="btn btn-secondary" onclick="functionToExecute('u')">u</button>
            <button type="button" class="btn btn-secondary" onclick="functionToExecute('i')">i</button>
            <button type="button" class="btn btn-secondary" onclick="functionToExecute('o')">o</button>
            <button type="button" class="btn btn-secondary" onclick="functionToExecute('q')">p</button>
        </div>
    </div>


    <div class="btn-toolbar mb-1" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <button type="button" id="buttonA" class="btn btn-secondary" onclick="functionToExecute('a')">a</button>
            <button type="button" class="btn btn-secondary" onclick="functionToExecute('s')">s</button>
            <button type="button" class="btn btn-secondary" onclick="functionToExecute('d')">d</button>
            <button type="button" class="btn btn-secondary" onclick="functionToExecute('f')">f</button>
            <button type="button" class="btn btn-secondary" onclick="functionToExecute('g')">g</button>
            <button type="button" class="btn btn-secondary" onclick="functionToExecute('h')">h</button>
            <button type="button" class="btn btn-secondary" onclick="functionToExecute('j')">j</button>
            <button type="button" class="btn btn-secondary" onclick="functionToExecute('k')">k</button>
            <button type="button" class="btn btn-secondary" onclick="functionToExecute('l')">l</button>
            <button type="button" class="btn btn-secondary" onclick="removeLetter()">&lt-</button>
        </div>
    </div>

    <div class="btn-toolbar mb-1" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <button type="button" id="buttonA" class="btn btn-secondary" onclick="functionToExecute('z')">z</button>
            <button type="button" class="btn btn-secondary" onclick="functionToExecute('x')">x</button>
            <button type="button" class="btn btn-secondary" onclick="functionToExecute('c')">c</button>
            <button type="button" class="btn btn-secondary" onclick="functionToExecute('v')">v</button>
            <button type="button" class="btn btn-secondary" onclick="functionToExecute('b')">b</button>
            <button type="button" class="btn btn-secondary" onclick="functionToExecute('n')">n</button>
            <button type="button" class="btn btn-secondary" onclick="functionToExecute('m')">m</button>
        </div>
    </div>


    <script src="/cdn/scripts/keyboardLogger.js"></script>

    <script>
        const functionToExecute = function (letter) {
            console.log(letter)

            if (letter.length > 1) {
                console.log('error button length is too long ')
                letter = letter.substring(0, 1) // Take the first element
            }

            const message = document.getElementById('guess')

            message.value += letter

            return letter
        }
    </script>


</body>

</html>