<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twordle-Dee</title>
    <link rel="stylesheet" href="/cdn/stylesheets/bootstrap.css">

    <script src="cdn/scripts/hash.js"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <style>
        body {
            display: none;
        }
    </style>
</head>


<body>
    <div class="container-fluid p-5 bg-primary text-white text-center" id="welcome">
        <h1>Welcome to Twordle-dee!</h1>
    </div>

    <section class="pt-5 px-5 pb-2" id="gameInfo">
        <div class="div container text-center">
            <p>We're so glad you're here. Follow the prompts to get started.
            </p>
        </div>
    </section>

    <div class="container text-center" id="page-loading">
        <h1>Loading <div class="spinner-border"></div>
        </h1>
    </div>


    <div id="login-reg">
        <section class="p-5">
            <div class="div container text-center">
                <h4>Login</h4>
                <div class="input-group mb-3">
                    <input id="login-username" type="text" class="form-control" placeholder="Username" autofocus>
                </div>
                <div class="input-group mb-3">
                    <input id="login-password" type="password" class="form-control" placeholder="Password" autofocus>
                </div>

            </div>
            <div class="container text-center" id="name button">
                <button class="btn btn-primary" role="button" onclick="login()" id="Log in">Log in </button>
                <p>
                <div class="div container text-center" id="login-message"></div>
                </p>
            </div>
        </section>
        <section class="p-5">
            <div class="div container text-center">
                <h4>Register</h4>
                <div class="input-group mb-3">
                    <input id="reg-username" type="text" class="form-control" placeholder="Username" autofocus>
                </div>


                <div class="input-group mb-3">
                    <input type="password" class="form-control" id="reg-password" placeholder="Password">
                </div>
                <div class="input-group mb-3">
                    <input id="reg-passwordConfirm" type="password" class="form-control" placeholder="Confirm password"
                        autofocus>
                </div>
            </div>
            <div class="container text-center" id="name button">
                <button class="btn btn-primary" role="button" onclick="createAcc()" id="Log in">Create your
                    account</button>
                <p>
                <div class="div container text-center" id="reg-message"></div>
                </p>
            </div>

        </section>
    </div>




    <div id="lobby">
        <div class="div container text-center mb-4">
            <h4><span id="rememberUser"></span>&nbsp;&nbsp;</h4>
            <button onclick="logout()" class="ml-2 btn-sm btn btn-outline-danger">Logout <i
                    class="bi bi-box-arrow-right"></i></button>
            <button onclick="editAccountPage()" class="ml-2 btn-sm btn btn-outline-danger">Edit Account</button>
        </div>


        <!-- Game Modes -->
        <section class="p-10">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md text-center">
                        <div class="bg-dark card text-light my-2" style=" height: 18rem;">
                            <section class="py-5">
                                <div class="card-body text-center">
                                    <div class="h1"><i class="bi bi-person"></i></div>
                                    <h4 class="card-title">
                                        Single Player
                                    </h4>
                                    <p class="card-text">Click the button to play single player wordle</p>
                                    <div class="container text-center">
                                        <button onclick="practiceMode()" class="btn btn-primary">Launch
                                            Game! <div id="practice-mode-spinner" hidden="true"
                                                class="spinner-border spinner-border-sm"></div>
                                        </button>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="bg-dark card text-light my-2" style=" height: 18rem;">
                            <section class="py-5">
                                <div class="card-body text-center">
                                    <div class="h1"><i class="bi bi-people"></i></div>
                                    <h4 class="card-title">
                                        Multiplayer
                                    </h4>
                                    <p class="card-text">Click the button to create or join a game</p>
                                    <div class="row text-center">
                                        <div class="col-4 text-center offset-2">
                                            <button onclick="generateCode()" type="button" class="btn btn-primary px-6">
                                                Generate Code <div id="generate-code-spinner" hidden="true"
                                                    class="spinner-border spinner-border-sm"></div>
                                            </button>
                                        </div>
                                        <div class="col-4 text-center">
                                            <button type="button" class="btn btn-primary px-4" data-bs-toggle="modal"
                                                data-bs-target="#Loader">
                                                Enter Code
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Modal -->
        <div class="modal fade" id="Generator" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Share this code with your friend</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-info" id="game-code">

                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" onchange="updateCustomWord()" class="custom-control-input"
                                id="customWord">
                            <label class="custom-control-label" for="customWord">Custom Word Gamemode</label>
                        </div>
                        <input type="text" oninput="checkWord()" class="form-control" id="custom-word"
                            placeholder="Enter word">
                        <p id="custom-word-feedback"> </p>

                        <h5>Players:</h5>
                        <ul class="list-group" id="player-list-host">

                        </ul>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="start-game" onclick="joinGame()" class="btn btn-primary" role="button"
                            disabled=true>Start Game</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="Loader" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Enter code to join game</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="game-code-enter" placeholder="Enter Code">

                        <div id="player-list-title-join" class="my-3" style="display: none">
                            <h5>Players:</h5>
                            <p>Waiting for host to start the game...</p>
                        </div>
                        <ul class="list-group" id="player-list-join"></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <div class="input-group-append">
                            <button onclick="joinGameWithCode()" class="btn btn-primary" role="button">Join
                                Game</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="edit">
        <div class="container-fluid p-5 bg-primary text-white text-center">
            <h1>Twordle-dee!</h1>
            <h3>Edit Account Details </h3>
        </div>

        <section class="p-5">
            <div class="div container text-center">
                <p>
                <div class="input-group mb-3">
                    <!--     -->
                    <input type="password" class="form-control" id="oldPassword" placeholder="Current password">
                </div>   

                <p id="edit-passoword-feedback"></p>
    
                <div class="container-fluid p-3 bg-secondary text-white text-center mb-3">
                    <h3>New Account Details </h3>
                    <h5>Leave empty whichever field you do not want to change</h5>
                </div>

                <div class="input-group mb-3">
                    <!--     -->
                    <input type="text" class="form-control" id="newUsername" placeholder="New username">
                </div>

                <div class="input-group mb-3">
                    <!--     -->
                    <input type="password" class="form-control" id="newPassword" placeholder="New password">
                </div>

                <div class="input-group mb-3">
                    <input id="passwordConfirm" type="password" class="form-control"
                        placeholder="Confirm your new password" autofocus>
                </div>

                <div class="container text-center" id="name button">
                    <p class="text-danger" id="rememberUser2"></p>
                    <button class="btn btn-primary" role="button" onclick="editAccount()" id="Edit">Edit your
                        account</button>
                    <button class="btn btn-outline-danger" role="button" onclick="checkLogin()"
                        id="Edit">Cancel</button>
                </div>
                </p>
            </div>
        </section>
    </div>

    <div class="container">
        <footer class="py-5">
            <div class="d-flex justify-content-center py-4 my-4 border-top">
                <p>© 2022 Twordle-dums <a href="/privacy">Privacy Policy</a></p>
            </div>
        </footer>
    </div>


    <script>
        // data-bs-toggle="modal" data-bs-target="#Generator"
        let gameCode = ''
        let username = ''

        const editAccount = async () => {
            let newUsername = document.getElementById('newUsername').value
            let newPassword = document.getElementById('newPassword').value
            let passwordConfirm = document.getElementById('passwordConfirm').value
            let password = document.getElementById('oldPassword').value

            if (password.length === 0) {
                document.getElementById("rememberUser2").innerHTML = "Please fill password"
            }

            else if (newUsername.length === 0 && newPassword.length === 0) {
                document.getElementById("rememberUser2").innerHTML = "Please change at least one detail"
            }

            else if ((newPassword === '' && passwordConfirm !== '') || (newPassword !== '' && passwordConfirm === '')) {
                document.getElementById("rememberUser2").innerHTML = "Please confirm your password"
            }

            else if (newPassword !== '' && passwordConfirm !== '' && (newPassword !== passwordConfirm)) {
                document.getElementById("rememberUser2").innerHTML = "Passwords do not match please try again"
            }
            else {
                let headers = new Headers();
                headers.append("Content-Type", "application/json");
                let raw = JSON.stringify({
                    "password": password,
                    "newUsername": newUsername,
                    "newPassword": newPassword
                });
                let requestOptions = {
                    method: 'POST',
                    headers: headers,
                    body: raw,
                    redirect: 'follow'
                };
                fetch('api/changeDetails', requestOptions)
                    .then(res => res.json())
                    .then( async function(data) {
                        if (data.code == 'ok') {
                            document.getElementById("rememberUser2").classList.remove('text-danger')
                            document.getElementById("rememberUser2").innerHTML = "Details changed successfully  <div class='spinner-border spinner-border-sm'></div>"
                            await new Promise(resolve => setTimeout(resolve, 1000))
                            window.location.reload()
                        }
                        else {
                            console.log(data)
                            document.getElementById("rememberUser2").innerHTML = data.message
                        }

                    }
                    )
                    .catch(function (error) {
                        console.log(error)
                    })
            }
        }

        let editAccountPage = () => {
            $("#lobby").hide()
            $("#welcome").hide()
            $("#gameInfo").hide()
            $("#edit").show()

            document.getElementById('rememberUser2').innerHTML = ''
            document.getElementById('oldUsername').value = ''
            document.getElementById('oldPassword').value = ''
            document.getElementById('newUsername').value = ''
            document.getElementById('newPassword').value = ''
            document.getElementById('passwordConfirm').value = ''
        }



        let login = async () => {
            let username = document.getElementById('login-username').value
            let password = document.getElementById('login-password').value

            let headers = new Headers();
            headers.append("Content-Type", "application/json");
            let raw = JSON.stringify({
                "username": username,
                "password": password
            });
            let requestOptions = {
                method: 'POST',
                headers: headers,
                body: raw,
                redirect: 'follow'
            };
            fetch('api/login', requestOptions)
                .then(res => res.json())
                .then(function (data) {
                    if (data.code == 'ok') {
                        checkLogin()
                    }
                    else {
                        console.log(data)
                        document.getElementById("login-message").innerHTML = "Your username or password is incorrect"
                        document.getElementById("login-message").classList.add("text-danger")
                        // document.getElementById('password').value = '';
                    }

                }
                )
                .catch(function (error) {
                    console.log(error)
                })
        }


        let checkWord = async () => {

            let word = document.getElementById('custom-word').value
            console.log("typed " + word)

            if (word.length == 5) {

                let headers = new Headers();
                headers.append("Content-Type", "application/json");
                let raw = JSON.stringify({
                    "word": word,
                    game: gameCode
                });
                let requestOptions = {
                    method: 'POST',
                    headers: headers,
                    body: raw,
                    redirect: 'follow'
                };
                fetch('api/game/word', requestOptions)
                    .then(res => res.json())
                    .then(function (data) {
                        if (data.code == 'ok') {
                            document.getElementById('custom-word-feedback')
                                .innerHTML = "The word is set: " + word
                        }
                        else {
                            document.getElementById('custom-word-feedback')
                                .innerHTML = data.message
                        }
                    }
                    )
                    .catch(function (error) {
                        console.log(error)
                    })

            } else {

            }
        }

        let createAcc = async () => {

            // checkEmpty()
            let username = document.getElementById('reg-username').value
            let password = document.getElementById('reg-password').value
            let passwordConfirm = document.getElementById('reg-passwordConfirm').value
            let email = document.getElementById('reg-email').value
            let phone = document.getElementById('reg-phone number').value
            // console.log(username, password, passwordConfirm, email, phone)
            let valid = true
            if (password === passwordConfirm) {
                valid = true
            }
            else {
                alert('Your passwords do not match, please confirm your passwords again')
                valid = false
            }
            let at = email.includes("@");
            if (at === false) {
                alert('Please enter a valid email')
                valid = false
            }
            if (valid == true) {

                let headers = new Headers();
                headers.append("Content-Type", "application/json");
                let raw = JSON.stringify({
                    "username": username,
                    "password": password,
                    "email": email,
                    "phoneNumber": phone

                });
                let requestOptions = {
                    method: 'POST',
                    headers: headers,
                    body: raw,
                    redirect: 'follow'
                };
                fetch('api/user', requestOptions)

                    .then(res => res.json())
                    .then(function (data) {
                        if (data.code === 'ok') {
                            checkLogin()
                        }
                        else {
                            // to do display feedback from server
                            document.getElementById("reg-message").innerHTML = data.message
                            console.log(data)
                        }
                    }
                    )
                    .catch(function (error) {
                        console.log(error)
                    })

            }


            return valid

        }

        const logout = () => {
            // send logout request to server // to do


            //delete cookies and reload page
            document.cookie = "username= ; expires = Thu, 01 Jan 1970 00:00:00 GMT"

            window.location.reload()
        }

        const updatePlayerList = () => {
            const list = document.getElementById('player-list-host')
            const listJoin = document.getElementById('player-list-join')
            $('#player-list-title-join').show()
            list.innerHTML = ""
            listJoin.innerHTML = ""
            players.forEach(player => {
                const item = document.createElement('li')
                item.classList.add('list-group-item')
                item.innerHTML = player.username
                const itemJoin = item.cloneNode(true)
                list.appendChild(item)
                listJoin.appendChild(itemJoin)
            })

            if (players.length > 1) {
                $('#start-game').prop('disabled', false)
            }
        }

        let players = []
        const waitOtherPlayers = async () => {
            const headers = {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
            const params = {
                headers: headers,
                method: 'POST',
                body: JSON.stringify({
                    game: gameCode,
                    hash: objectArrayHash(players)
                })
            }
            const res = await fetch('api/multiplayer/lobby', params)
            if (res.status != 200) {
                await new Promise(resolve => setTimeout(resolve, 1000))
                await waitOtherPlayers() // retry
            } else {

                const data = await res.json()

                switch (data.status) {
                    case 'update': {
                        players = data.players
                        updatePlayerList()
                        await waitOtherPlayers()
                        break;
                    }
                    case 'change': {

                        players.push(data.player)
                        updatePlayerList()
                        await new Promise(resolve => setTimeout(resolve, 1000))
                        await waitOtherPlayers()
                        break;
                    }
                    case 'begin': {
                        window.location.href = 'game?code=' + gameCode
                        break
                    }
                    default:
                        console.log(data.message)
                }
            }
        }


        // check if already logged in
        const checkLogin = () => {
            $("#page-loading").show()
            $("#login-reg").hide()
            $("#lobby").hide()
            $("#edit").hide()
            $("#welcome").show()
            $("#gameInfo").show()

            let headers = {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
            fetch('api/user', { headers: headers })
                .then(res => res.json())
                .then(data => {
                    $("#page-loading").hide()
                    if (data.code === 'ok') {
                        $("#lobby").show()
                        $("#login-reg").hide()
                        document.getElementById("rememberUser").innerHTML =
                            "Hi " + data.username + "!";

                        username = data.username
                    }
                    else {
                        $("#lobby").hide()
                        $("#login-reg").show()
                        $('#lobby').hide()

                    }
                })
                .catch((err) => {

                })

        }

        window.onload = function () {
            checkLogin()
            $('body').show()
        }

        const joinGame = async () => {
            const headers = {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
            const params = {
                headers: headers,
                method: 'POST',
                body: JSON.stringify({
                    game: gameCode
                })
            }
            await fetch('api/multiplayer/start', params)

        }

        const joinGameWithCode = () => {
            gameCode = document.getElementById('game-code-enter').value
            const headers = {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
            const params = {
                headers: headers,
                method: 'POST',
                body: JSON.stringify({
                    game: gameCode
                })
            }
            fetch('api/multiplayer/join', params)
                .then(res => res.json())
                .then(data => {
                    if (data.code === 'ok') {
                        players = data.players
                        updatePlayerList()
                        waitOtherPlayers()
                    }
                    else {
                        if (data.message.toLowerCase().includes('already')) {
                            waitOtherPlayers()
                        }
                    }

                })
        }

        const generateCode = async () => {

            document.getElementById('generate-code-spinner').removeAttribute('hidden')
            let headers = new Headers()
            let requestOptions = {
                method: 'GET',
                headers: headers,
                redirect: 'follow'
            };
            fetch("api/multiplayer", requestOptions)
                .then(res => res.json())
                .then(data => {
                    gameCode = data.game
                    document.getElementById('game-code').innerHTML = gameCode
                    $('#Generator').modal({ backdrop: 'static', keyboard: false })
                    $('#Generator').modal('show')
                    document.getElementById('generate-code-spinner').setAttribute('hidden', true)
                    players = [{ username: username }]
                    updatePlayerList()
                    waitOtherPlayers()
                })


        }

        const practiceMode = async () => {

            document.getElementById('practice-mode-spinner').removeAttribute('hidden')
            let headers = new Headers()
            let requestOptions = {
                method: 'GET',
                headers: headers,
                redirect: 'follow'
            };
            fetch("api/game", requestOptions)
                .then(res => res.json())
                .then(data => {
                    let gameCode = data.game
                    document.getElementById('practice-mode-spinner').setAttribute('hidden', true)
                    window.location.href = 'game?code=' + gameCode
                })
        }


        let checkName = async () => {
            let name = document.getElementById('name').value

            let headers = {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
            let raw = JSON.stringify({
                "username": name,
                "password": pass//,
                // "email" : email,
                // "phoneNumber": num
            });
            let requestOptions = {
                method: 'POST',
                headers: headers,
                body: raw,
                redirect: 'follow'
            }
            fetch('api/user', requestOptions)
                .then(function (response) {
                    if (response.ok) { return response.json() } // Return the response parse as JSON
                    else { throw 'Failed to load correct word: response code invalid!' }
                })
                .then(function (data) {
                    checkLogin()
                }
                )
                .catch(function (error) {
                    console.log(error)
                })


        }
    </script>

</body>

</html>