<html>

<head>
    <title>Twordle-dee</title>


    
    <link rel="stylesheet" href="/cdn/stylesheets/bootstrap.css">

 
</head>







<body>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Welcome to Twordle-dee!</h1>
    </div>
    <p>We're so glad you're here, why don't you go watch this video to learn more about
        <a href="https://www.youtube.com/watch?v=lv4Zg-209MY">it over here</a>
    </p>




    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" id="buttonQ" class="btn btn-secondary">q</button>
            <button type="button" class="btn btn-secondary">w</button>
            <button type="button" class="btn btn-secondary">e</button>
            <button type="button" class="btn btn-secondary">r</button>
            <button type="button" class="btn btn-secondary">t</button>
            <button type="button" class="btn btn-secondary">y</button>
            <button type="button" class="btn btn-secondary">u</button>
            <button type="button" class="btn btn-secondary">i</button>
            <button type="button" class="btn btn-secondary">o</button>
            <button type="button" class="btn btn-secondary">p</button>

        </div>

        <!--   <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon">@</div>
            </div>
            <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example"
                aria-describedby="btnGroupAddon">
        </div> -->
    </div>
   

        <div class="btn-toolbar justify-content-between pagination-centered" role="toolbar" aria-label="Toolbar with button groups">
  <!--    <div class="text-center"></div>  -->      
            <div class="btn-group" role="group" aria-label="First group">
 
                <button type="button" class="btn btn-secondary">a</button>
                <button type="button" class="btn btn-secondary">s</button>
                <button type="button" class="btn btn-secondary">d</button>
                <button type="button" class="btn btn-secondary">f</button>
                <button type="button" class="btn btn-secondary">g</button>
                <button type="button" class="btn btn-secondary">h</button>
                <button type="button" class="btn btn-secondary">j</button>
                <button type="button" class="btn btn-secondary">k</button>
                <button type="button" class="btn btn-secondary">l</button>
            </div>
            <!-- <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon2">@</div>
            </div>
            <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example"
                aria-describedby="btnGroupAddon2">
        </div> -->
       <!--  </div> -->
    </div>


    <script src="/cdn/scripts/keyboardLogger.js"></script>
</body>

</html>